.main-slider-item {
    height: 500px;
}

@media (max-width: 768px) {
    .main-slider-item {
        height: 300px;
    }
    
    .mobile-news-grid {
        display: flex;
        flex-wrap: wrap;
    }
    
    .mobile-news-grid .col-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .main-news {
        height: 150px;
        margin-bottom: 2px;
    }
}

.main-news {
    height: 250px;
}

@media (max-width: 768px) {
    .main-news {
        height: 200px;
    }
}

.news-image {
    object-fit: cover;
    width: 700px;
    height: 435px;
}

@media (max-width: 768px) {
    .news-image {
        width: 100%;
        height: 250px;
    }
}

